@import "@repo/ui/uiStyles.css";
@import "tailwindcss";

@source "../../../packages/ui/src/**/*.{js,ts,jsx,tsx}";

@theme {
  --font-geist-sans: var(--font-geist-sans);

  --animate-shimmer: shimmer 1.6s linear infinite;
  @keyframes shimmer {
    from {
      background-position: 200% center;
    }
    to {
      background-position: -200% center;
    }
  }
}

@layer base {
  body {
    @apply font-geist-sans;
  }
}
