# Node environment
NODE_ENV=

# Better Auth
BETTER_AUTH_SECRET=
BETTER_AUTH_URL=
FRONTEND_URL=

# PostgreSQL
POSTGRES_USER=
POSTGRES_PASSWORD=
POSTGRES_DB=
DATABASE_URL=

# Google OAuth
GOOGLE_CLIENT_ID=
GOOGLE_API_KEY=

# GitHub OAuth
GITHUB_CLIENT_ID=
GITHUB_API_KEY=
